#navbar-custom
{   
    background-color: #f5d3d3;
}
#brand-text
{  
    font-family: 'times new roman';
    color:#000000;
    font-size: 40px;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(240, 128, 128)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link
{
  color: #ee6969;
  font-weight: 900;
  
}
.nav-link:hover
{
  color: #7d231f;
  border-width: 0 0 2px;
    border-style: solid;
  
}
#home
{
  color: #7d231f;
}
  div{
    margin-bottom: 1rem;
  }